--
-- PostgreSQL database dump
--

\restrict wDuZDcdLZnjePTfxWJZYfPV8qgrxgg4jfcweHWQHrtdg7CDYh5chAjLiR9t7Y5h

-- Dumped from database version 18.1
-- Dumped by pg_dump version 18.1

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Data for Name: usuarios; Type: TABLE DATA; Schema: public; Owner: postgres
--

SET SESSION AUTHORIZATION DEFAULT;

ALTER TABLE public.usuarios DISABLE TRIGGER ALL;

INSERT INTO public.usuarios VALUES (1, 'Administrador', 'admin@crm.com', '$2a$10$M7iMeBLgIROPo6x8p5YxBeCB6lomtnu/UXmOMZBpeFQLJ4qYBriPa', 'admin', true, '2026-02-10 10:35:56.677566', '2026-02-10 10:35:56.677566');
INSERT INTO public.usuarios VALUES (2, 'Cobranzas', 'cobranzas@crm.com', '$2a$10$M7iMeBLgIROPo6x8p5YxBeCB6lomtnu/UXmOMZBpeFQLJ4qYBriPa', 'cobranzas', true, '2026-02-10 10:35:56.682571', '2026-02-10 10:35:56.682571');
INSERT INTO public.usuarios VALUES (3, 'Contratos', 'contratos@crm.com', '$2a$10$M7iMeBLgIROPo6x8p5YxBeCB6lomtnu/UXmOMZBpeFQLJ4qYBriPa', 'contratos', true, '2026-02-10 10:35:56.683348', '2026-02-10 10:35:56.683348');


ALTER TABLE public.usuarios ENABLE TRIGGER ALL;

--
-- Name: usuarios_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.usuarios_id_seq', 9, true);


--
-- PostgreSQL database dump complete
--

\unrestrict wDuZDcdLZnjePTfxWJZYfPV8qgrxgg4jfcweHWQHrtdg7CDYh5chAjLiR9t7Y5h

